<%- include("../partials/header") %><%- include("../partials/message") %>

<div class="container-overall container-fluid">
  <div class="flag-page-card">
    <h1>Flag Entry</h1>
    <form action="/nanozyme/raise-flag/<%= nanozyme._id %> " method="post">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Flag this entry</label
        >
        <input
          class="form-control p-nanozyme"
          id="exampleFormControlInput1"
          type="text"
          name="flaggedEntry"
          value="<%= nanozyme.displayNanozymeName %> "
          disabled
          
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Change this in the entry</label
        >
        <textarea
          name="changeRaised"
          class="form-control"
          id="exampleFormControlInput1"
          cols="15"
          rows="10"
        ></textarea>
      </div>

      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
</div>
<script>
    $('.p-nanozyme').each(function(){
    var $this = $(this);
    var t = $this.text();
    $this.html(t.replace('&lt','<').replace('&gt', '>'));
});
</script>
<%- include("../partials/footer") %>
