<%- include("../partials/header"); %>
<div class="container-overall">
  <div class="nanozyme-info">
    <h1>Nanozyme Name: <%= nanozyme.nanozymeName %></h1>

    <table class="table table-dark table-hover table-responsive">
      <tr>
        <td>Enzyme like Activity</td>
        <td><%= nanozyme.activity %></td>
      </tr>
      <tr>
        <td>pH</td>
        <td><%= nanozyme.pH %></td>
      </tr>
      <tr>
        <td>pH</td>
        <td><%= nanozyme.pH %></td>
      </tr>
      <tr>
        <td>Substrate</td>
        <td><%= nanozyme.substrate %></td>
      </tr>
      <tr>
        <td>Km</td>
        <td><%= nanozyme.km %></td>
      </tr>
      <tr>
        <td>Vmax</td>
        <td><%= nanozyme.vmax %></td>
      </tr>
      <tr>
        <td>Kcat</td>
        <td><%= nanozyme.kcat %></td>
      </tr>
      <tr>
        <td>Specificity Activity</td>
        <td><%= nanozyme.specificity %></td>
      </tr>
    </table>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button
            class="accordion-button nanozyme-info-accordian collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            Additional Info.
          </button>
        </h2>
        <div
          id="flush-collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body"><%= nanozyme.additionalInfo %></div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button
            class="accordion-button nanozyme-info-accordian collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo"
            aria-expanded="false"
            aria-controls="flush-collapseTwo"
          >
            Reference
          </button>
        </h2>
        <div
          id="flush-collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body"><%= nanozyme.reference %></div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button nanozyme-info-accordian collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            DOI
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body"><%= nanozyme.doi %></div>
        </div>
      </div>
    </div>
    <button class="flag-btn btn-danger">
      <i class="fas fa-flag"></i>
      <% if (!user) { %>
      <a href="/user-gateway/">Raise Flag</a>
      <%} else { %>
      <a href="/nanozyme/raise-flag/<%= nanozyme._id %> ">Raise Flag</a>
      <% } %>
    </button>
  </div>
</div>
<script></script>
<%- include("../partials/footer"); %>
