<%-include("../partials/header") %> <%-include("../partials/message") %>

<div class="search-table container-overall">
  <% if (data.length<1) { %>
  <h3>
    Sorry, there are no entries for <%= name %> <br />

    <br />
    <%-include("../partials/filtermodal") %>
  </h3>
  <% } else { %> <% if (name) { %>
  <h1>Search Results for <%= name %></h1>
  <% } else { %>
  <h1>Search Results</h1>
  <% } %>
  <a href="/contribute/add-entry"
    ><button class="btn btn-dark">
      <i class="fa-solid fa-plus"></i> Contribute to Database
    </button></a
  >
  <a href="/download/search-entries-xls"
    ><button class="btn btn-success">
      <i class="fa-solid fa-file-excel"></i> Download Excel Scheet of Searched
      Results
    </button></a
  >
  <a href="/download/all-entries-xls"
    ><button class="btn btn-success">
      <i class="fa-solid fa-file-excel"></i> Download Excel Scheet of All
      Nanozymes
    </button></a
  >
  <table class="table table-condensed table-responsive">
    <br />
    <br />
    <%-include("../partials/filtermodal") %>
    <thead>
      <tr>
        <th class="table-dark"><h5>Name</h5></th>
        <th class="table-dark"><h5>Enzyme Like Activity</h5></th>
        <th class="table-dark"><h5>pH</h5></th>
        <th class="table-dark"><h5>Substrate</h5></th>
        <th class="table-dark"><h5>Km</h5></th>
        <th class="table-dark"><h5>Vmax</h5></th>
        <th class="table-dark"><h5>Kcat</h5></th>
        <th class="table-dark"><h5>Specificity</h5></th>
        <th class="table-dark"><h5>More Info.</h5></th>
      </tr>
    </thead>
    <tbody class="panel">
      <% data.forEach(data=>{ %>
      <tr>
        <td class="table-dark"><p><%= data.nanozymeName %></p></td>
        <td class="table-dark"><p><%= data.activity %></p></td>
        <td class="table-dark"><p><%= data.pH %></p></td>
        <td class="table-dark"><p><%= data.substrate %></p></td>
        <td class="table-dark"><p><%= data.km %></p></td>
        <td class="table-dark"><p><%= data.vmax %></p></td>
        <td class="table-dark"><p><%= data.kcat %></p></td>
        <td class="table-dark"><p><%= data.specificity %></p></td>
        <td class="table-dark">
          <a href="/nanozyme/<%= data._id %>"
            ><i class="fas fa-info info-icon fa-sm"></i
          ></a>
        </td>
      </tr>
      <tr></tr>
      <% }) %>
    </tbody>
  </table>

  <% if (pages > 0) { %> <% if (data.length >19) { %>
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <% if (current == 1) { %>
      <li class="page-item disabled"><a class="page-link">First</a></li>
      <% } else { %>
      <li><a class="page-link" href="/search_result">First</a></li>
      <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %> <%
      if (i !== 1) { %>
      <li class="page-item disabled"><a class="page-link">...</a></li>
      <% } %> <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %> <%
      if (i == current) { %>
      <li class="page-item active"><a class="page-link"><%= i %></a></li>
      <% } else { %>
      <li>
        <a class="page-link" href="/search_result?page=<%= i %>"><%= i %></a>
      </li>
      <% } %> <% if (i == Number(current) + 4 && i < pages) { %>
      <li class="page-item disabled"><a class="page-link">...</a></li>
      <% } %> <% } %> <% if (current == pages) { %>
      <li class="page-item disabled"><a class="page-link">Last</a></li>
      <% } else { %>
      <li>
        <a class="page-link" href="/search_result?page=<%= pages %>">Last</a>
      </li>
      <% } %>
    </ul>
    <% } %> <% } %>
  </nav>
  <% } %>
</div>
<script>
  document.getElementById("kcat-checkbox").onchange = function () {
    document.getElementById("kcat-filter-input1").disabled = !this.checked;
    document.getElementById("kcat-filter-input2").disabled = !this.checked;
  };
  document.getElementById("km-checkbox").onchange = function () {
    document.getElementById("km-filter-input1").disabled = !this.checked;
    document.getElementById("km-filter-input2").disabled = !this.checked;
  };
  document.getElementById("vmax-checkbox").onchange = function () {
    document.getElementById("vmax-filter-input1").disabled = !this.checked;
    document.getElementById("vmax-filter-input2").disabled = !this.checked;
  };
  document.getElementById("pH-checkbox").onchange = function () {
    document.getElementById("pH-filter-input1").disabled = !this.checked;
    document.getElementById("pH-filter-input2").disabled = !this.checked;
  };
</script>
<%-include("../partials/footer") %>
