<%- include("../partials/header"); %> <%- include("../partials/message"); %>
<section class="usergateway-section container-overall">
  <div class="usergateway-container">
    <div class="user signinBx">
      <div class="img-box">
        <h1>Sign In</h1>
      </div>
      <div class="form-box">
        <form action="/signin" method="post">
          <h2>Sign In</h2>
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Password" />
          <button>
            <span>Sign In</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 74 74"
              height="25"
              width="25"
            >
              <circle
                stroke-width="3"
                stroke="black"
                r="35.5"
                cy="37"
                cx="37"
              ></circle>
              <path
                fill="black"
                d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z"
              ></path>
            </svg>
          </button>
          &nbsp;
          <p>
            <a id="forgot-link" href="/forgot-password">Forgot Password?</a>
          </p>

          <p class="signup">
            Don't have an account ?
            <a href="#signup" onclick="toggleForm();">Sign Up.</a>
          </p>
        </form>
      </div>
    </div>
    <div class="user signup-box">
      <div class="form-box">
        <form action="/signup" method="post">
          <h2>Create an account</h2>
          <input
            type="text"
            autocomplete="off"
            name="fName"
            placeholder="First Name"
            value="<%= typeof fName != 'undefined' ? fName : '' %>"
          />
          <input
            type="text"
            autocomplete="off"
            name="lName"
            placeholder="Last Name"
            value="<%= typeof lName != 'undefined' ? lName : '' %>"
          />
          <input
            type="email"
            autocomplete="off"
            name="email"
            placeholder="Email Address"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
          <input
            type="password"
            name="password"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
          <input
            type="password"
            name="password2"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
          <button>
            <span>Sign Up</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 74 74"
              height="25"
              width="25"
            >
              <circle
                stroke-width="3"
                stroke="black"
                r="35.5"
                cy="37"
                cx="37"
              ></circle>
              <path
                fill="black"
                d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z"
              ></path>
            </svg>
          </button>
          <p class="signup">
            Already have an account ?
            <a href="#signin" onclick="toggleForm();">Sign in.</a>
          </p>
        </form>
      </div>
      <div class="img-box">
        <h1>Sign Up</h1>
      </div>
    </div>
  </div>
</section>
<script>
  const toggleForm = () => {
    const container = document.querySelector(".usergateway-container");
    container.classList.toggle("active");
  };
</script>
<%- include("../partials/footer") %>
