<%-include("../partials/header")-%> <%- include("../partials/message") %>

<div class="container-fluid container-overall">
  <div class="user-details-page">
    <h1 style="text-align: center">Editor details</h1>
    <form
      action="/admin/change-user-details/<%=queryEditor._id%>"
      method="post"
    >
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="fName" class="col-form-label">User First Name*</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="fName"
            name="fName"
            class="form-control"
            autocomplete="off"
            value="<%= queryEditor.fName %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="lName" class="col-form-label">User Last Name</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="lName"
            name="lName"
            class="form-control"
            autocomplete="off"
            value="<%= queryEditor.lName %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="email" class="col-form-label">Email</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="email"
            name="email"
            class="form-control"
            value="<%= queryEditor.email %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="date" class="col-form-label">Joined</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="date"
            name="date"
            class="form-control"
            autocomplete="off"
            value="<%= queryEditor.date %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="status" class="col-form-label">Status</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="status"
            name="status"
            class="form-control"
            value="<%= queryEditor.status %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="type" class="col-form-label">Type</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="type"
            name="type"
            class="form-control"
            value="<%= queryEditor.type %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="approvedEntries" class="col-form-label"
            >Approved Entries</label
          >
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="approvedEntries"
            name=""
            class="form-control"
            value="<%= queryEditor.approvedEntriesCount %>"
          />
        </div>
      </div>
      <button class="btn btn-success" type="submit">
        <i class="fa-solid fa-user"></i> Change Details
      </button>
    </form>
    <a onclick="deleteModal()">
      <button class="btn btn-danger" type="submit">
        <i class="fa-solid fa-ban"></i> Delete Editor
      </button>
    </a>
  </div>
</div>
<script>
  let deleteModal = () => {
    swal({
      title: "Are you sure?",
      text: "This entry will be deleted",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {
        window.location = "/admin/delete-user/<%=queryEditor._id%>";
      } else {
        swal("The entry is not deleted");
      }
    });
  };
</script>
<%- include("../partials/footer") %>
