<%- include("../partials/header") %> <%-include("../partials/message") %>

<div class="container-fluid container-overall">
  <div class="edit-page" style="padding-bottom: 2%;">
    <h1 style="text-align: center">Edit this entry</h1>
    <form action="/editor/edit-entry/<%= nanozyme._id %>" method="post">
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="nanozymeName" class="col-form-label"
            >Nanozyme Name*</label
          >
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="nanozymeName"
            name="nanozymeName"
            class="form-control"
            autocomplete="off"
            value="<%= nanozyme.nanozymeName %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="displayNanozymeName" class="col-form-label"
            >Display Nanozyme Name*</label
          >
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="displayNanozymeName"
            name="displayNanozymeName"
            class="form-control"
            autocomplete="off"
            value="<%= nanozyme.displayNanozymeName %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="activity" class="col-form-label">Enzyme Activity</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="activity"
            name="activity"
            class="form-control"
            autocomplete="off"
            value="<%= nanozyme.activity %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="pH" class="col-form-label">pH</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
          step="0.01"
            type="number"
            id="pH"
            name="pH"
            class="form-control"
            value="<%= nanozyme.pH %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="temp" class="col-form-label">Temp (&deg;C)</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
          step="0.01"
            type="number"
            id="temp"
            name="temp"
            class="form-control"
            value="<%= nanozyme.temp %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="substrate" class="col-form-label">Substrate</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="substrate"
            name="substrate"
            class="form-control"
            autocomplete="off"
            value="<%= nanozyme.substrate %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="displaySubstrate" class="col-form-label"
            >Display Substrate</label
          >
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="displaySubstrate"
            name="displaySubstrate"
            class="form-control"
            autocomplete="off"
            value="<%= nanozyme.displaySubstrate %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="km" class="col-form-label">K<sub>m</sub> (mM)</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
          step="0.01"
            type="number"
            id="km"
            name="km"
            class="form-control"
            value="<%= nanozyme.km %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="vmax" class="col-form-label">V<sub>max</sub> (nM s<sup>-1</sup>)</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
          step="0.01"
            type="number"
            id="vmax"
            name="vmax"
            class="form-control"
            value="<%= nanozyme.vmax %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="kcat" class="col-form-label">K<sub>cat</sub> (s<sup>-1</sup>)</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
          step="0.01"
            type="number"
            id="kcat"
            name="kcat"
            class="form-control"
            value="<%= nanozyme.kcat %>"
          />
        </div>
      </div>
      
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="additionalInfo" class="col-form-label"
            >Additional Info.</label
          >
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="additionalInfo"
            name="additionalInfo"
            class="form-control"
            autocomplete="off"
            value="<%= nanozyme.additionalInfo %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="reference" class="col-form-label">Reference*</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="reference"
            name="reference"
            class="form-control"
            autocomplete="off"
            value="<%= nanozyme.reference %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="doi" class="col-form-label">DOI*</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="doi"
            name="doi"
            class="form-control"
            value="<%= nanozyme.doi %>"
          />
        </div>
        <div class="row g-3 align-items-center">
          <div class="col-auto col-md-6 col-xs-12">
            <label for="doi" class="col-form-label">Search Tags*</label>
          </div>
          <div class="col-auto col-md-6 col-xs-12">
            <input
              type="text"
              id="doi"
              name="searchTags"
              class="form-control"
              value="<%= nanozyme.searchTags %>"
            />
          </div>
      </div>
      <button class="btn btn-success" type="submit">
        <i class="fa-solid fa-thumbs-up"></i> Submit Changes
      </button>
    </form>
    <a href="/editor/dashboard">
      <button class="btn btn-secondary" type="submit">
         Cancel
      </button>
    </a>
  </div>
  <a  onclick="deleteModal()">
    <button class="btn btn-danger" type="submit">
      <i class="fa-solid fa-ban"></i> Delete Entry
    </button>
  </a>
</div>
<script>
  let deleteModal = () => {
    swal({
      title: "Are you sure?",
      text: "This entry will be deleted",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {
        window.location =
          "/editor/delete-flagged-entry/delete?nanozymeId=<%= nanozyme._id %>";
      } else {
        swal("The entry is not deleted");
      }
    });
  };
</script>
<%-include("../partials/footer") %>
