<%- include("../partials/header") %> <%-include("../partials/message") %>

<div class="container-fluid container-overall">
  <div class="approval-page">
    <h1 style="text-align: center">Flagged entry</h1>
    <form
      action="/editor/update-flagged-entry/<%= flagged._id %>"
      method="POST"
    >
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="nanozymeName" class="col-form-label"
            >Nanozyme Name*</label
          >
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="nanozymeName"
            name="nanozymeName"
            class="form-control"
            autocomplete="off"
            value="<%= nanozyme.nanozymeName %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="activity" class="col-form-label">Enzyme Activity</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="activity"
            name="activity"
            class="form-control"
            autocomplete="off"
            value="<%= nanozyme.activity %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="pH" class="col-form-label">pH</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="pH"
            name="pH"
            class="form-control"
            value="<%= nanozyme.pH %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="substrate" class="col-form-label">Substrate</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="substrate"
            name="substrate"
            class="form-control"
            autocomplete="off"
            value="<%= nanozyme.substrate %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="km" class="col-form-label">Km (mM)</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="km"
            name="km"
            class="form-control"
            value="<%= nanozyme.km %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="vmax" class="col-form-label">Vmax (nM s^-1)</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="vmax"
            name="vmax"
            class="form-control"
            value="<%= nanozyme.vmax %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="kcat" class="col-form-label">Kcat (s^-1)</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="kcat"
            name="kcat"
            class="form-control"
            value="<%= nanozyme.kcat %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="specificity" class="col-form-label"
            >Specificity Activity (U mg^-1)</label
          >
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="specificity"
            name="specificity"
            class="form-control"
            autocomplete="off"
            value="<%= nanozyme.specificity %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="additionalInfo" class="col-form-label"
            >Additional Info.</label
          >
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="additionalInfo"
            name="additionalInfo"
            class="form-control"
            autocomplete="off"
            value="<%= nanozyme.additionalInfo %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="reference" class="col-form-label">Reference*</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="reference"
            name="reference"
            class="form-control"
            autocomplete="off"
            value="<%= nanozyme.reference %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="doi" class="col-form-label">DOI*</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="doi"
            name="doi"
            class="form-control"
            autocomplete="off"
            value="<%= nanozyme.doi %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="flaggedBy" class="col-form-label">Flagged By</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="flaggedBy"
            name="flaggedBy"
            class="form-control"
            value="<%= flagged.flaggedBy %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="changeraised" class="col-form-label">Change Raised</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="changeraised"
            name="changeraised"
            class="form-control"
            autocomplete="off"
            value="<%= flagged.changeRaised %>"
          />
        </div>
      </div>
      <div class="row g-3 align-items-center">
        <div class="col-auto col-md-6 col-xs-12">
          <label for="dateofflag" class="col-form-label">Date of Flag</label>
        </div>
        <div class="col-auto col-md-6 col-xs-12">
          <input
            type="text"
            id="dateofflag"
            name="dateofflag"
            class="form-control"
            autocomplete="off"
            value="<%= flagged.date %>"
          />
        </div>
      </div>
      <button class="btn btn-success" type="submit">Update</button>
    </form>
    <a
      href="/editor/delete-flagged-entry/delete?nanozymeId=<%= nanozyme._id %>&flaggedId=<%= flagged._id %>"
    >
      <button class="btn btn-danger" type="submit">Delete</button>
    </a>
  </div>
</div>
<%-include("../partials/footer") %>
